body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  line-height: 1.7;
  background: var(--color-grayish-blue);
}

img {
  width: 100%;
}

// RESETS
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  background-color: var(--grayish-blue);
}
